/* Start Gradient Area css
============================================================================================ */
.gradient-bg,
.primary-btn,
.add-bag .add-btn,
.single-product .product-details .prd-bottom .social-info span:after,
.grid-btn:hover,
.list-btn:hover,
.grid-btn.active,
.list-btn.active,
.pagination a.active,
.pagination a:hover,
.s_Product_carousel .owl-dots div.active,
.s_product_text .card_area .icon_btn:after,
.product_description_area .nav.nav-tabs li a.active,
.blog-pagination .page-item.active .page-link,
.single-footer-widget .click-btn {
    background: -webkit-linear-gradient(90deg, #ff002b 0%, #ff002b 100%);
    background: -moz-linear-gradient(90deg, #ff002b 0%, #ff002b 100%);
    background: -o-linear-gradient(90deg, #ff002b 0%, #ff002b 100%);
    background: linear-gradient(90deg, #ff002b 0%, #ff002b 100%);
    border-radius: 5px;
    box-shadow: 0px 0px 3px #222222;
    color:white;
    cursor:pointer;

}

.gradient-color,
.s_product_text h2,
.s_product_text .list li a.active,
.product_description_area .tab-content .total_rate .box_total h4,
.single-footer-widget .bb-btn {
    background: -webkit-linear-gradient(90deg, #ff002b 0%, #ff002b 100%);
    background: -moz-linear-gradient(90deg, #ff002b 0%, #ff002b 100%);
    background: -o-linear-gradient(90deg, #ff002b 0%, #ff002b 100%);
    background: linear-gradient(90deg, #ff002b 0%, #ff002b 100%);
    border-radius: 5px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* Single Product Area css
============================================================================================ */
.carousel-item {
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

.carousel-inner {
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
}

.carousel-indicators li {
    cursor: pointer;
}

@media screen and (max-width:768px){
    .rating_list{
        margin-top: 15px;
    }
}


.product_description_area {
    padding-bottom: 120px;
    margin-top: 60px;
}

.product_description_area .nav.nav-tabs {
    background: #e8f0f2;
    text-align: center;
    display: block;
    border: none;
    padding: 10px 0px;
}

.product_description_area .nav.nav-tabs li {
    display: inline-block;
    margin-right: 7px;
}

.product_description_area .nav.nav-tabs li:last-child {
    margin-right: 0px;
}

@media (max-width: 441px) {
    .product_description_area .nav.nav-tabs li:last-child {
        margin-top: 15px;
    }
}

.product_description_area .nav.nav-tabs li a {
    padding: 0px;
    border: none;
    line-height: 38px;
    background: #fff;
    border: 1px solid #eeeeee;
    border-radius: 0px;
    padding: 0px 30px;
    color: #222222;
    font-size: 13px;
    font-weight: normal;
}

@media (max-width: 570px) {
    .product_description_area .nav.nav-tabs li a {
        padding: 0 15px;
    }
}

.product_description_area .nav.nav-tabs li a.active {
    color: #fff;
    border: 1px solid transparent;
}

.product_description_area .tab-content {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 30px;
}

.product_description_area .tab-content .total_rate .box_total {
    background: #e8f0f2;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.product_description_area .tab-content .total_rate .box_total h4 {
    font-size: 48px;
    font-weight: bold;
}

.product_description_area .tab-content .total_rate .box_total h5 {
    color: #222222;
    margin-bottom: 0px;
    font-size: 24px;
}

.product_description_area .tab-content .total_rate .box_total h6 {
    color: #222222;
    margin-bottom: 0px;
    font-size: 14px;
    color: #777777;
    font-weight: normal;
}

.product_description_area .tab-content .total_rate .rating_list {
    margin-bottom: 30px;
}

.product_description_area .tab-content .total_rate .rating_list h3 {
    font-size: 18px;
    color: #222222;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}

.product_description_area .tab-content .total_rate .rating_list .list li a {
    font-size: 14px;
    color: #777777;
}

.product_description_area .tab-content .total_rate .rating_list .list li a i {
    color: #fbd600;
}

.product_description_area .tab-content .total_rate .rating_list .list li:nth-child a i:last-child {
    color: #eeeeee;
}

.product_description_area .tab-content .table {
    margin-bottom: 0px;
}

.product_description_area .tab-content .table tbody tr td {
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.product_description_area .tab-content .table tbody tr td h5 {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: #777777;
    margin-bottom: 0px;
    white-space: nowrap;
}

.product_description_area .tab-content .table tbody tr:first-child td {
    border-top: 0px;
}

.review_item {
    margin-bottom: 15px;
}

.review_item:last-child {
    margin-bottom: 0px;
}

.review_item .media {
    position: relative;
}

.review_item .media .d-flex {
    padding-right: 15px;
}

.review_item .media .media-body {
    vertical-align: middle;
    align-self: center;
}

.review_item .media .media-body h4 {
    margin-bottom: 0px;
    font-size: 14px;
    color: #222222;
    font-family: "Roboto", sans-serif;
    margin-bottom: 8px;
}

.review_item .media .media-body i {
    color: #fbd600;
}

.review_item .media .media-body h5 {
    font-size: 13px;
    font-weight: normal;
    color: #777777;
}

.review_item .media .media-body .reply_btn {
    border: 1px solid #e0e0e0;
    padding: 0px 28px;
    display: inline-block;
    line-height: 32px;
    border-radius: 16px;
    border: 1px solid #ff002b;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #000;
    position: absolute;
    right: 0px;
    top: 14px;
    text-decoration: none;
    box-shadow:  0px 0px 15px #888, inset 0px 0px 15px #fff;

}

.review_item .media .media-body .reply_btn:hover {
    background: #ff002b;
    border-color: #ff002b;
    color: #fff;
    box-shadow:  0px 0px 15px #888, inset 0px 0px 15px #ff002b;
}

.review_item p {
    padding-top: 10px;
    margin-bottom: 0px;
}

.review_item .media img {
    border-radius: 50px;
    width:80px;
}

.review_item.reply {
    padding-left: 28px;
}



@media screen and (max-width: 768px) {
    .review_box {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

.review_box h4 {
    font-size: 24px;
    color: #222222;
    margin-bottom: 20px;
}

.review_box p {
    margin-bottom: 0px;
    display: inline-block;
}

.review_box .list {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.review_box .list li {
    display: inline-block;
}

.review_box .list li a {
    display: inline-block;
    color: #fbd600;
}

.review_box .contact_form {
    margin-top: 15px;
}

.review_box .primary-btn {
    line-height: 38px !important;
    padding: 0px 38px;
    text-transform: uppercase;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
}

/* End Single Product Area css
  ============================================================================================ */